@media print {
  .print-page-break {
    page-break-before: always;
  }
}

.prose a {
  color: #253746 !important;
}

.prose a:hover {
  text-decoration: underline !important;
}

.menu-item-link {
  font-family: 'urw-din-semi-condensed';
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: solid 1px #E4E6E9;
}
.manage-profile {
  background-color: #253746;
}

.manage-profile .menu-item-link,
.manage-profile .menu-item-link:hover {
  color: #fff;
  background-color: #253746;
  border-bottom: none;
}
